#mobilenav{
    display: block;
    position: absolute;
    top: 8.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    padding: 2rem 1.5rem;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: none;
    border-radius: .5rem;
    z-index: 10;
    transition: .5s;
}

.mobilenav ul li{
    list-style: none;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobilenav ul li a{
    text-decoration: none;
    color: hsl(240, 10%, 16%);
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.mobilenav ul li img{
    margin-left: .5rem;
    transition: .5s;
}

.mobilenav ul li:nth-child(3){
    position: relative;
}

.mobilenav ul li:hover img{
    transform: rotate(-180deg);
}

.mobilenav ul .connect{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobilenav ul .connect .connect-text{
    display: flex;
    align-items: center;
}

.mobilenav ul .connect .dropdown-menu-mobile{
    background: hsl(0, 10%, 92%);
    padding: 1.5rem 0;
    width: 100%;
    border-radius: .5rem;
    display: none;
    transition: 2s;
}

.mobilenav ul .connect:hover .dropdown-menu-mobile{
    display: block;
}

.mobilenav ul .connect .dropdown-menu-mobile li:last-child{
    margin-bottom: 0;
}

.mobilenav ul hr{
    display: block;
    border: none;
    border-top: 1px solid hsl(0, 4%, 85%);
    margin: 2rem auto 2rem;
    width: 100%;
}

.mobilenav ul .signup{
    margin-bottom: 0;
}

.mobilenav ul .signup a{
    padding: .8rem 2.5rem;
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: hsl(0, 0%, 100%);
    border-radius: 2rem;
    transition: .5s;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.mobilenav ul .signup a:hover{
    background: linear-gradient(90deg, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
}

